aside {
  .navbar {
    .navbar-header {
      button {
        border: 1px solid #ddd;

        .icon-bar {
          display: block;
          weight: 22px;
          height: 2px;
          border-radius: 1px;
          background-color: #888888;
        }
      }
    }
  }

  ul.main-menu {
    padding: 0;
    margin: 0;
    list-style: none;

    li.menu-item {
      margin: 0;
      border-bottom: 1px solid #d1d1d1;
      a {
        text-decoration: none;
        color: #555;
        display: block;
        padding: 20px 0;
        position: relative;
        i {
          vertical-align: middle;
        }
      }

      &.selected {
        a.first-level {
          font-family: "dinprobold";
        }
      }

      ul.sub-menu {
        list-style: none;
        li.menu-item {
          border: none;
          a {
            padding: 8px 0;
          }
          &.selected {
            a.second-level {
              font-family: "dinprobold";
            }
          }
        }
      }
    }
  }

  .socialmedias {
    font-size: 2em;
  }

}
